// ---
// Base Site Styles
// ---
// Reset
body {
    margin: 0;
    padding: 0;
}

// Border box all the things:
* {
    box-sizing: border-box;
}

::selection {
    background: $green;
    color: $white;
}

table {
    width: 100%;
}

// ---
// General Structure
// ---
.page-wrap,
.row-fluid [class*="span"].page-center,
.row-fluid [class*="span"].page-center:first-child,
.row-fluid [class*="span"].page-wrap,
.row-fluid [class*="span"].page-wrap:first-child {
    max-width: $screen-lg;
    margin: 0 auto;
    float: none;
    padding-right: 1rem;
    padding-left: 1rem;
}

// ---
// Media and SVGs
// ---

// full width curvy svg
.curve {
    width: 100%;
    height: auto;
    display: block;
    max-height: 100px;
    margin-bottom: -1px; // fix for subpixel rendering issue in FF
}

// chantel font headers with arrows pointing down
.chantel-arrow {
	max-width: 100%;
	height: auto;
	position: relative;
    margin-top: 1rem;
	@include bp(sm) {
		margin-top: -2rem;
	}
}


// ---
// Header
// ---
.header-container-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 93px;
    @include bp(sm) {
    	height: auto;
    }
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $dark-grey;
        mix-blend-mode: multiply;
        z-index: 1;
    }
}

.header-container {
    padding: 1rem 0;
    position: relative;
    z-index: 100;
    .page-wrap>div>div {
        @include bp(sm) {
            display: flex;
            align-items: center;
        }
    }
}

.no-navigation {
    color: $white;
    text-align: center;
    .logo {
        margin: -.5rem 0 0;
        justify-content: center;
    }
    p {
        margin: 0;
    }
    @include bp(sm) {
        text-align: right;
    }
}

.logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    >img {
        width: 61px !important;
        height: 61px !important;
        transform: rotate(0);
        transform-origin: center;
        transition: transform 700ms ease;
    }
    >svg {
        max-height: 35px;
        width: 122px;
        path {
            fill: $white;
        }
    }
    &:hover,
    &:focus {
        >img {
            transform: rotate(180deg);
        }
    }
}


// Inbound Page
.header-tabs {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}
.header-tabs a {
    background: #ddd;
    padding: .5em 1em;
    display: inline-block;
    color: #212121;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.header-tabs a.active {
    background: #fff;
}


// ---
// Main Site Content
// ---
.row-fluid .custom_top-pane {
    background: $blue-gradient;
    width: 100%;
    position: relative;
    .bg-image-overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        mix-blend-mode: multiply;
        background-size: cover;
        background-position: center;
        opacity: .25;
    }
    &.purple {
        background: $purple-gradient;
    }
    &.orange {
        background: $orange-gradient;
    }
    &.green {
        background: $green-gradient;
    }
    &.grey {
        background: $grey-gradient;
    }
    &.none {
        background: $black;
        .bg-image-overlay {
        	opacity: 1;
        	mix-blend-mode: normal;
        }
    }
    .curve {
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 100%;
        max-height: 2rem;
        @include bp(sm) {
            max-height: 5rem;
        }
    }
}
.custom_top-pane-text {
    text-align: center;
    color: #fff;
    padding: 8rem 1.5rem 6rem;
    position: relative;
    h1 {
        margin-top: 1.5rem;
    }
    .secondary-header {
        font-size: 1.5rem;
        margin-top: -1rem;
    }
    a {
        color: $orange;
    }
}

.row-fluid .content-wrapper .main-content,
.row-fluid .content-wrapper .sidebar{
    padding: 2rem 0;
}

.important-content {
    @include bp(md) {
        margin-top: -4em;
        position: relative;
    }
}

.content > span > div:not(.hs_cos_wrapper_type_raw_html) {
    max-width: 680px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}
.content > span > div.hs_cos_wrapper_type_raw_html {
    max-width: 900px;
    margin: auto;
}


// ---
// Footer
// ---
.footer-container {
    background: $black;
    color: $white;
    padding: 4rem 0 2rem 0;
    .search-form {
        position: relative;
        border-bottom: 2px solid $dark-grey;
        transform: translate(0,0);
	    opacity: 1;
	    transition: all 300ms ease;
	    margin-bottom: 2rem;
	    @include bp(sm) {
	    	margin-bottom: 0;
	    }
    }
    .search-input {
        background: none;
        border: 0 none;
        color: $dark-grey;
        padding: .5rem .5rem .5rem 3rem;
        width: 100%;
        font-size: 1.5rem;
        margin-bottom: 0;
        -webkit-appearance: none;
    }
    button.search-submit {
        font-size: 1.5rem;
        position: absolute;
        left: 0;
        top: 0;
        background: none;
        border: none;
        padding: 0.5rem;
        opacity: .5;
        &:hover,
        &:focus {
            background: none;
            opacity: 1;
        }
    }
    .footer-social-links {
        display: flex;
        justify-content: space-around;
        a {
            path {
                fill: $white;
                transition: all 200ms ease;
            }
            &:hover,
            &:focus {
                path {
                    fill: $orange;
                }
            }
        }
    }
    .hs-menu-flow-horizontal {
        >ul {
            display: flex;
            justify-content: center;
            margin: 2rem 0;
        }
        li {
        	width: auto !important;
        	&:not(:last-child):after {
	            content: "|";
	            opacity: .25;
	        }
	    }
        a {
            font-size: .875rem;
            color: $white;
            opacity: .35;
            text-decoration: none;
            display: inline-block !important;
            width: auto !important;
            padding: 1rem;
            &:hover,
            &:focus {
                opacity: .85;
            }
        }
    }
    footer {
        font-size: .75rem;
        margin-top: 1rem;
        text-align: center;
        opacity: .25;
    }
}

.search-activated .footer-container .search-form {
    opacity: 0;
    transform: translate(0, -90vh);
    @include bp(sm) {
        transform: translate(100px,-90vh);
    }
}