// Desktop Navigation
.header-container .hs-menu-wrapper.hs-menu-flow-horizontal>ul {
    @include bp(sm) {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    a {
        text-decoration: none;
        padding: .5rem 1rem;
        font-size: .875rem;
    }
    .hs-menu-depth-1 {
        > a {
            color: $white;
            font-family: "Montserrat", sans-serif;
            font-weight: bold;
            text-transform: uppercase;
        }
        &.hs-item-has-children {
            >a:after {
                content: "\f144";
                display: inline-block;
                transform: rotate(90deg);
                font-family: 'icomoon' !important;
                speak: none;
                font-style: normal;
                font-weight: normal;
                font-variant: normal;
                text-transform: none;
                line-height: 1;
                margin-left: .3rem;
                color: $orange;
                margin-top: 0.15rem;
            }
            &:nth-child(2) {
                a {
                    &:after {
                        color: $light-blue;
                    }
                }
                .hs-menu-depth-2 a:hover {
                    color: $light-blue;
                }
            }
            &:nth-child(3) {
                a {
                    &:after {
                        color: $green;
                    }
                }
                .hs-menu-depth-2 a:hover {
                    color: $green;
                }
            }
            &:nth-child(4) {
                a {
                    &:after {
                        color: $purple;
                    }
                }
                .hs-menu-depth-2 a:hover {
                    color: $purple;
                }
            }
        }
    }
    @include bp(sm) {
        .hs-menu-children-wrapper {
            background: $white;
            box-shadow: $subtle-shadow;
            padding: .5rem 0;
            border-radius: 1rem;
            &:before {
                content: "";
                bottom: 100%;
                left: 2rem;
                position: absolute;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0 7px 7px 7px;
                border-color: transparent transparent $white transparent;
            }
        }
        .hs-menu-depth-2 a {
            color: $black;
            &:hover {
                color: $orange;
            }
        }
    }
}


// Mobile Navigation
.menu-toggle {
    display: none;
}

@media (max-width: $screen-sm) {
    body.show-menu {
        overflow: hidden;
    }
    .logo {
        margin-left: 4rem;
    }
    .menu-toggle {
        display: block;
        background: none;
        border: 0 none;
        position: absolute;
        top: 1.5rem;
        left: 0rem;
        &:hover,
        &:focus {
            background: none;
            border: 0 none;
            outline: 0 none;
        }
    }
    /* Menu toggle styles. */
    .icon-menu-toggle {
        display: inline-block;
        fill: currentColor;
        width: 2em;
        height: 2em;
        top: 0;
        vertical-align: middle;
        position: relative;
    }
    /* Animate menu icon (lines). */
    .svg-menu-toggle .line {
        opacity: 1;
        transform: rotate(0) translateY(0) translateX(0);
        transform-origin: 1em 1em;
        transition: transform 0.3s ease-in-out, opacity 0.2s ease-in-out;
    }
    .svg-menu-toggle .line-1 {
        transform-origin: 1em 2.5em;
    }
    .svg-menu-toggle .line-3 {
        transform-origin: 1em 4.5em;
    }
    .show-menu .menu-toggle .svg-menu-toggle .line-1 {
        transform: rotate(45deg) translateY(0) translateX(0);
    }
    .show-menu .menu-toggle .svg-menu-toggle .line-2 {
        opacity: 0;
    }
    .show-menu .menu-toggle .svg-menu-toggle .line-3 {
        transform: rotate(-45deg) translateY(0em) translateX(0em);
    }
    .row-fluid>.off-canvas-menu {
        background: transparentize($black, .05);
        position: absolute;
        z-index: 9999999;
        top: 93px;
        left: 0;
        height: calc(100vh - 93px);
        width: 300px;
        padding: 1rem;
        box-shadow: 1px 6px 8px rgba(0, 0, 0, 0);
        transform: translate3d(-300px, 0, 0);
        transition: all 250ms ease;
        will-change: transform;
        a {
            padding: 1rem !important;
        }
        /* Second level menu */
        .hs-menu-depth-1 {
            &.hs-item-has-children {
                perspective: 1000px;
                padding-right: 0.5em;
            }
            > ul.hs-menu-children-wrapper {
                transform-origin: 50% 0;
                transform-style: preserve-3d;
                transform: scale(1, 0) rotateX(-90deg) translate(0, 0px) !important;
                transition: all .2s ease;
                opacity: 0 !important;
                position: static !important;
                max-height: 0;
                will-change: transform;
            }
            /* Show second level menu */
            &.show-menu>ul.hs-menu-children-wrapper {
                transform: scale(1, 1) rotateX(0deg) translate(0, 0px) !important;
                opacity: 1 !important;
                visibility: visible !important;
                max-height: 330px;
            }
            &.hs-item-has-children>a:after {
                transform: rotate(90deg);
                display: block;
                transition: all 200ms ease;
                float: right;
            }
            &.hs-item-has-children.show-menu>a:after {
                transform: rotate(150deg) !important;
            }
        }
    }

    /* Show menu */
    .show-menu .row-fluid>.off-canvas-menu {
        transform: translate3d(0, 0, 0);
        box-shadow: 1px 6px 8px rgba(0, 0, 0, 0.24);
        a {
            padding: 0.75em;
            text-decoration: none;
            border-bottom: 1px solid transparentize($white, .9);
            color: $white;
        }
    }
}